#define SECRET_SSID     "MYHOME"
#define SECRET_PASS     "SuperSecret"

#define MQTT_SERVER     "mqttserver.local"
#define MQTT_PORT       8883
#define MQTT_USER       "mqqtuser"
#define MQTT_PASS       "secret"

#define BACKEND_URL     "https://192.168.1.100"
