INFLUXDB_URL=http://localhost:8086
INFLUXDB_TOKEN=apiv3_my-super-secret-token
INFLUXDB_DATABASE=warren

NUXT_AUTH_USERNAME=admin
NUXT_AUTH_PASSWORD=change-me
NUXT_SESSION_PASSWORD=generate-a-32+-char-random-string
